<h1>New Author</h1>

{{!This is the url the form is submitted against}}
<form action="/authors/upsert" role="form" method="post"> {{!ensuring the form is submitted with the post method}}
    {{#if author}} {{!Adding the author index to the form}}
    {{!The value of the `for` attribute on the label has to be the same as the value of the `id` on the input field}}
    <div>
        <h2>{{author.firstName}} {{author.lastName}}</h2>
        <input type="hidden" name="id" value="{{authorIndex}}">
    </div>
    {{/if}}
    <div>
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" name="firstName" {{#if author}}value="{{author.firstName}}" {{/if}}>
    </div>
    <div>
        <label for="last_name">Last name</label>
        <input type="text" id="last_name" name="lastName" {{#if author}}value="{{author.lastName}}" {{/if}}>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>